[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=immon4ik
Environment="DATABASE_URL=${database_url}"
WorkingDirectory=/home/immon4ik/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
